:root {
  --font-heading: "Madimi One", sans-serif;
  --font-primary: "Poppins", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: rgb(255, 251, 239);
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  width: 40px;
  position: relative;
  top: 9px;
}

nav p {
  font-family: var(--font-heading);
  font-size: 24px;
  margin: 12px 8px;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  padding-right: 80px;
  padding-top: 3px;
}

nav ul li {
  display: inline;
  padding: 0 12px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: orange;
}

nav ul li a.active {
  color: orange;
}

h1 {
  font-family: var(--font-heading);
  text-align: center;
  color: white;
  font-size: 120px;
  letter-spacing: 4px;
}

h2 {
  font-size: 48px;
  margin: 20px 0;
}

section {
  padding: 40px 80px;
}

section p {
  color: rgb(80, 80, 80);
}

.hero {
  padding: 160px 20px 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.button {
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: orange;
  border-radius: 8px;
  padding: 10px 20px;
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: rgb(255, 191, 72);
}

.youtube-embed {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 50px;
}

@media (max-width: 960px) {
  nav {
    display: block;
  }

  nav ul {
    text-align: center;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
  }

  .hero {
    padding: 140px 20px 80px;
  }

  .nav-logo {
    display: none;
  }

  .grid-two-columns {
    grid-template-columns: 1fr;
  }

  .mobile-text-center {
    text-align: center;
  }

  .youtube-embed.mobile-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  section {
    padding: 40px 20px;
  }
}
